
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Yayınevleri";
    var count = 0;
}

<div class="row">
    @foreach (var book in Model)
    {
        @if (count != 0 && count % 4 == 0)
        {
        @:</div>
        @:<div class="row">
        }
        <div class="col-3">
            <partial name="_BookCard" model="@book" />
        </div>
        count++;
    }
</div>

<ul class="pagination">
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <li class="page-item">
            <a class="page-link" asp-action="Brands" asp-controller="Home" asp-route-page="@i"
               asp-route-brandId="@ViewBag.BrandId">@i</a>
        </li>
    }
</ul>


