@model CompleteShopping
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks1</title>
</head>
<body>
    <p>Bizi tercih ettiğiniz için teşekkür ederiz.</p>
</body>
</html>
